<div class='container'>

    <div class=" col-lg-6">

    </div>

    <div>
        <button type="button" class="btn btn-light">Submit</button>
    </div>
    <div>
        <button type="button" class="btn btn-light">Create Workouts</button>
        <button type="button" class="btn btn-light">Home</button>
    </div>
</div>