<div class="my-workouts-main">
    <div class="my-workouts-headline">
        <h1>My Workouts</h1>
    </div>
    <div class="my-workout-card">
        <h2>Workout Title</h2>
        <p>This is where the workout description will go.</p>
        <p>Workout Rating</p>
        <p>Body Zone Section will go here</p>
        <p>Workout Duration will go here</p>
    </div>
</div>